<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsmall.mapper.MemberMapper">
	
	<select id="idCheck" resultType="String">
		SELECT 
			MEMBER_ID 
		FROM 
			MEMBER_TABLE  
		WHERE 
			MEMBER_ID = #{member_id}
	</select>
	
	<insert id="join" parameterType="com.jsmall.domain.MemberVO">
		
		INSERT INTO 
			MEMBER_TABLE (MEMBER_ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_ZIPCODE, 
			MEMBER_ADDR, MEMBER_DEADDR, MEMBER_PHONE)
		VALUES 
			(#{member_id}, #{member_name}, #{member_email}, 
			#{member_password}, #{member_zipcode}, #{member_addr}, #{member_deaddr}, #{member_phone}) 
			
	</insert>
	
	<select id="login" resultType="com.jsmall.domain.MemberVO">
		
		SELECT 
			MEMBER_ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_ZIPCODE, MEMBER_ADDR, MEMBER_DEADDR, MEMBER_PHONE, MEMBER_POINT, MEMBER_LASTLOGIN, MEMBER_DATESUB, MEMBER_UPDATEDATE
		FROM 
			MEMBER_TABLE WHERE MEMBER_ID = #{member_id}
		
	</select>
</mapper>